.contain{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0px 5%
}
.imageContain{
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 11%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
}
.imageContain:hover{
    height: 300px;
    width: 300px;
}
.cardtext{
    color: rgb(29, 29, 29);
    font-size: 1.5em;
    font-weight: 800;
    text-decoration: none;
}
