.contain{
    text-align: center;
    padding: 2vw;
   
}
.cardContain{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}
.imageContain{
    position: relative;
    height: 500px;
    width: 400px;
    
}
.linkText{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight:700;
}
@media (max-width: 767px) {
    /* Styles for mobile devices */
    .imageContain{
        position: relative;
        height: 400px;
        width: 400px;
    }
    .contain{
        display: flex;
        justify-content: center;       
    }
    .cardContain{
    grid-template-columns: repeat(1, 1fr);    
    }
  }