.contain{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.textContain,
.imageContain{
    height: 500px;
}
.textContain{
    overflow: auto;
    align-items: start;
    line-height: 1;
}
.imageContain{
    background-color: grey;
}
.destext{
    margin-top: 0%;
    font-size: 5em;
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
}

@media (max-width: 767px) {
    /* Styles for mobile devices */
    .destext{
        font-size: 2em;
        
    }
    .textContain{
        width: 180px;
    }
    .textContain,
    .imageContain{
    height: 250px;
    }
  }
  