.contain{
width: 300px;
margin-bottom: 2em;
padding: 2em;
background: hsl(226.24deg 25.98% 93.88%);
border: 1.7px solid hsla(0, 2%, 45%, 0.39);
border-radius: 11%;

}

.imageContain{
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 11%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
}
.imageContain:hover{
    height: 300px;
    width: 300px;
}
.cardText_contain{
    text-align: center;
}
.cardtext{
    color: rgb(29, 29, 29);
    font-size: 1.5em;
    font-weight: 800;
    text-decoration: none;
}
.btn{
    display: flex;
    justify-content: center;
}
.selector{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}